# .flake8 file for https://github.com/zxdavb

[flake8]
  ignore = D105,D107,D208

  # max-line-length as used by black
  max-line-length = 88

  per-file-ignores =
    geniushubclient/const.py:E501
    geniushubclient/zone.py:D208,E501
